div{
	margin-left:100px;
background:hsl(120,90%,90%);
height:100px;
width:100px;
transition-property: width;
transition-duration: 2s;
transtion-timing-function: linear;
transition-delay: 1s;
}

div:hover{
margin-left:150px;
background:hsl(0,100%,90%);
height:200px;
transform:skew(30deg);
transition: width 2s, height 2s, background 5s;
width:200px;
}