#form_signin {
    width: 650px;
    height: 330px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
	/*Box shadow usage*/
	box-shadow:5px 5px 5px rgba(30,50,50,0.6);
    border-radius: 10px; 
}

#form_signin input{
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

#form_signin button{
    margin: 20px 0 0 0;
    padding: 15px 8px;          
    width: 100%;
    border: 1px solid #2493FF;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    background-color: #2493ff;
    border-radius: 10px;
} 

#form_singin button:focus{
    padding: 15px 8px;          
    width: 100%;
    border: 1px solid #2493FF;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    background-color: #249300;	
}

div{
	border: 1px solid green;
	padding: 10px 40px;
	background:lightgreen;
	width:50px;
	height:50px;
	border-radius: 50%;
}